body{
    background-color: black;
}

p {
    position: relative;
    color: lightblue;
    text-align: center;
    font-size: 2.3em;    
}

.clock {
    position: relative;  
    text-align: center; 
    color: lightblue; 
    font-size: 3.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}